<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="net.packetzoom.pzspeed" version="3.1.3">
    <name>PZSpeed</name>
    <description>Cordova iOS PZSpeed Plugin</description>
    <license>PacketZoom</license>
    <keywords>cordova,pzspeed</keywords>
    <js-module src="www/pzspeed.js" name="PZSpeed">
        <clobbers target="PZSpeed" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PZSpeed">
                <param name="ios-package" value="CDVPZSpeed"/>
            </feature>
        </config-file>
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="libz.dylib" />
        <framework src="libc++.dylib" />
        <framework src="src/ios/Frameworks/PZSpeed.framework" custom="true" />
        <header-file src="src/ios/CDVPZSpeed.h" />
        <source-file src="src/ios/CDVPZSpeed.m" />
    </platform>
</plugin>